/*Colors*/
.azul{
	color: #12253c
}
.skyblue{
	color: #ccd5df
}
.grey{
	color: #b5b5b5
}
/* 
 * General
 * @author mfyances
 */
html {
    width: 100%;
    font-size: 62.5%;
    background-color: #f6f7f8;    
}
body{
    font-family: "lato-regular";
    color: #b5b5b5;
    /*transform: scale(1.01);
    opacity: 0;*/
    -webkit-transition: transform .3s linear, opacity .3s ease;
    -o-transition: transform .3s linear, opacity .3s ease;
    transition: transform .3s linear, opacity .3s ease;
}
body, html{
    height: inherit;
}
body.complete{
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}

/*Section Spaces*/
.servicios,
.nosotros{
	padding: 60px;
	background: #f6f7f8;
}
.contacto,
.equipo,
.blog__articulos,
.testimonios,
.asesorias {
	padding: 60px;
	background: #fff;
}

/*
 * Typography
 */
strong{
 	font: 16px 'lato-bold';
	font: 1.6rem 'lato-bold';
	color: #12253c
 }
 p{
	font: 18px 'lato-regular';
	font: 1.8rem 'lato-regular';
}

.pagina__servicios h1 {
	font: 42px 'lato-heavy';
	font: 4.2rem 'lato-heavy';
	line-height: 1.2;
	color: #12253c;
}
.titulo h1,
.pagina__inicio h1 {
	font-size: 42px;
	font-size: 4.2rem;
	line-height: 1.2;
	color: #FFF;
}
.square__titulos h2 {
	font-family: 'lato-heavy';
	font-size: 32px;
	font-size: 3.2rem;
	line-height: 1.25;
	color: #FFF;
}
.title__content  h3 {
	font: 28px 'lato-bold';
	font: 2.8rem 'lato-bold';
	line-height: 1.3;
	display: inline-block;
	color: #12253c;
	text-transform: uppercase;
}
.title__content  h4 {
	font: 28px 'lato-light';
	font: 2.8rem 'lato-light';
	line-height: 1.35;
	color: #999a99
}
.pagina__inicio h5 {
	font: 26px 'lato-bold';
	font: 2.6rem 'lato-bold';
	line-height: 1.5;
	color: #12253c
}
.pagina__inicio h6 {
	font: 28px 'lato-bold';
	font: 2.8rem 'lato-bold';
	line-height: 1.6;
	color: #fff;
}

/*
 * Main
 * @author mfyance
 */
.cabecera{
	display: -webkit-flex;
	display:    -moz-flex;
	display:     -ms-flex;
	display:      -o-flex;
	display:         flex;

	-webkit-justify-content: space-between;
	-moz-justify-content: space-between;
	-ms-justify-content: space-between;
	-o-justify-content: space-between;
	justify-content: space-between;  
	background: #12253c;
	align-items: center;
	justify-content: center;
}
.principal{
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
	border: 2px solid #ff693c;
	-webkit-box-shadow: 1px 1px 3px #cec7c7;
	box-shadow: 1px 1px 3px #cec7c7;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.logo__content img{
	width: 100%;
	vertical-align: middle;
}
.logo__content{
	width: 230px;
	margin-right: 70px;
	background: #fff;
	/* padding: 10px; */
	align-content: flex-start;
}
.logo--is-link:after{
	content:'';
	width: 0;
	height: 0;
	border-right: 30px solid transparent;
	border-top: 0px solid transparent;
	border-left: 0px solid #fff;
	border-bottom: 82px solid #fff;
	position: absolute;
	right: -30px;
	top: 0;
}
.logo--is-link{
	display: inline-block;
	position: relative;
	padding: 10px;
}
.logo--is-img{
	display: inline-block;
	width: 100%;
}
.menu__content{
	width: calc( 100% - 180px);
	align-content: flex-end;
}
.menu__content--flex{
	display: flex;
    justify-content: flex-end;
}
.menu__link a:hover:after{
	height: 3px;
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    transform: translateY(0px);
}
.menu__link:last-child  a:before{
	display: none;
}
.menu__link a:before{
	content: '/';
	position:absolute;
	top: 11px;
	right: -10px;
	color: #b5b5b5;
	font-family: 'lato-bold'
}
.menu__link a:after{
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 1px;
	background: #fff;
	content: '';
	opacity: 0;
	-webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
	-moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
	transition: height 0.3s, opacity 0.3s, transform 0.3s;
	-webkit-transform: translateY(-10px);
	-moz-transform: translateY(-10px);
	transform: translateY(-10px);
}
.menu__link a{
	position: relative;
	display: block;
	width: 100%;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #fff;
	font: 19px 'lato-light';
	font: 1.9rem 'lato-light';
}
.menu__link{
	padding: 10px;
	width: auto;

}


.cuerpo{
	padding: 10px;
	background-color: #ffac65
}


.foto__principal{
	padding: 20px;
}
.foto--is-img{
	text-align: center;
}

.bloques__principal{
	display: flex;	
}
.bloque{
	width: 33.3%;
	padding: 10px;
	border:1px solid #fff;
	margin:5px;
}
.pie{
	padding: 40px 0px;
	text-align: center;
	background: #b76a27;
	color: #fff
}



/*banner*/
.banner--is-main{
	height: calc(100vh/1.5);
	background-image:    url(../images/general/banner.jpg);
}
.banner--is-contacto{
	height: calc(100vh/1.8);
	background-image:    url(../images/general/banner.jpg);
}
.banner{	
	background-size:     cover;
	background-repeat:   no-repeat;
	background-position: center center; 	
	width: 100%;
	position: relative;
}
.square--is-white .square__box__cuadrado,
.square--is-white .square__line--raya,
.square--is-white{
	border-color: #fff !important
}
.square__titulos{
	border:1px solid #808386;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	-o-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	width: 100%;
	max-width: calc(100% - 500px);
	text-align: center;
}
.square__titulos--content{
	padding: 50px;	
}

.square__box{
	width: 100%;
	height: 100%;
}
.square__box__cuadrado{
	width: 30px;
	height: 30px;
	border: 1px solid #808386;
	position: absolute;
}
.square__box--is-top-rigth{
	top: -15px;
	right: -15px;
}
.square__box--is-top-left{
	top: -15px;
	left: -15px;
}
.square__box--is-bottom-rigth{
	bottom: -15px;
	right: -15px;
}
.square__box--is-bottom-left{
	bottom: -15px;
	left: -15px;
}

/*Linea*/

.square__line{
	width: 100%;
	display: flex;
	align-items: center;
    justify-content: center;
    margin: 10px auto;
}
.square__line--icon img{width:30px;}
.square__line--icon{
	position: relative;
    top: 3px;
    flex: 0 0 10%;
}
.square__line--raya{
	flex: 0 0 45%;
	position: relative;
	border-bottom: 1px solid #808386;
}


/*Buttons*/
.button {
    -webkit-transition: background-color .3s ease-in-out;
    -o-transition: background-color .3s ease-in-out;
    transition: background-color .3s ease-in-out;
    display: inline-block;
    margin: 0;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    outline: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    z-index: 1;
    font: 14px "Lucida-Italic";
    font: 1.4rem "Lucida-Italic";
    text-transform: uppercase;
    vertical-align: top;
}
.button:focus,
.button:hover {
    outline: 0;
    text-decoration: none;
    cursor: pointer;
}

/*Principal*/
.button--is-first:after{
	position: absolute;
	content: '';
	display: inline-block;
	top: 50%;
	right: -4px;
	-webkit-transform: scale(1,1) translate(0,-50%);
	-ms-transform: scale(1,1) translate(0,-50%);
	-o-transform: scale(1,1) translate(0,-50%);
	transform: scale(1,1) translate(0,-50%);
	width: 30px;
	height: 30px;
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: no-repeat;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.button--is-first:hover{
	-webkit-transform: scale(1.1,1.1);
	-ms-transform: scale(1.1,1.1);
	-o-transform: scale(1.1,1.1);
	transform: scale(1.1,1.1);
}
.button--is-first:hover:after{
	right: -12px;
}

.button--is-first{
	border:2px solid #fff;
	border-right: none;
	padding: 15px 40px;
	color: #fff;
	position: relative;
	font: 16px 'lato-regular';
	font: 1.6rem 'lato-regular';
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.button--is-flecha:after{
	content: '';
	position: absolute;
	top: -1px;
	right: 0px;
	border-right: 2px solid #fff;
	height: 15px;
}
.button--is-flecha:before{
	content: '';
	position: absolute;
	bottom: -1px;
	right: 0px;
	border-right: 2px solid #fff;
	border-bottom-width: 55px;
	height: 15px;
}
.button--is-azul .button--is-flecha:after,
.button--is-azul .button--is-flecha:before{
	border: 1px solid #12253c !important
}
.button--is-azul{
	border-color: #12253c !important;
	color: #12253c !important;
	padding: 12px 40px !important;
}
.button--is-azul:after{
	background-image: url(../images/general/flecha-azul.svg);
	width: 20px;
	height: 20px;
}
.button--is-blanca:after{
	background-image: url(../images/general/flecha-blanca.svg);	
}


/*Titles Line*/
.title__content{
	width: auto;
	text-align: center;
	display: inline-block;
	margin:0 auto;
	margin-bottom: 20px;
}
.title__img{
	width: 30px;
}
.title__line--is-2:after{
	width: 160px !important;
	border-width: 2px !important
}
.title__line--is-2:before{
	display:none;
}
.title__line--is-2{
	margin: 0 !important;
}
.title__line{
	position: relative;
	width: 30px;
	margin: 5px auto;
}
.title__line:after{
	content: '';
	position: absolute;
	border-top: 1px solid #b5b5b5;
	top: 50%;
	z-index: 1;
	width: 150px;
	left: 50px;
}
.title__line:before{
	content: '';
	position: absolute;
	border-top: 1px solid #b5b5b5;
	top: 50%;
	z-index: 1;
	width: 150px;
	right: 50px;
}


/*beneficios*/
.beneficios{
	margin-top: 20px;
}
.beneficios__content{
	display: flex;
	flex-wrap: wrap;
}
.beneficios__content .beneficio__detalle:nth-child(1){
	border-right: 1px solid #b5b5b5;
	border-bottom: 1px solid #b5b5b5;
	padding-right: 40px;
	padding-bottom: 40px;
}
.beneficios__content .beneficio__detalle:nth-child(2){
	border-bottom: 1px solid #b5b5b5;
	padding-left: 40px;
	padding-bottom: 40px;
}
.beneficios__content .beneficio__detalle:nth-child(3){
	border-right: 1px solid #b5b5b5;
	padding-top: 40px;
	padding-right: 40px;
}
.beneficios__content .beneficio__detalle:nth-child(4){
	padding-left: 40px;
	padding-top: 40px;
}

.beneficio__detalle{
	width: 50%;
	display: flex;
}
.beneficio__img{
	width: 100px;
}
.beneficio__desc{
	width: calc(100% - 100px);
    padding-left: 20px;
}
.beneficio--is-line:after{
	content: url(../images/general/detalle-titulo.svg);
	display: inline-block;
	width: 15px;
	position: absolute;
	left: -20px;
	top: -7px;
}
.beneficio--is-line{
	position: relative;
	width: 40%;
	border-top: 1px solid #b5b5b5;
	border-bottom: 1px solid #b5b5b5;
	display: block;
	height: 4px;
	margin-left: 20px;
	margin-top: 5px;
	margin-bottom: 5px;
}
.beneficios p{
	font: 16px 'lato-light';
	font: 1.6rem 'lato-light';
	color: #b5b5b5;
	margin-top: 10px;
}


/*Servicios*/

.lista__servicios{
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
}
.servicio__detalle:hover .servicio--is-bg{
	background-color: rgba(6, 34, 68, 0.5);
}
.servicio__detalle:hover .servicio--is-subtitle:before{
	bottom: -70px;
}
.servicio__detalle:hover .servicio--is-text{
	-webkit-transform: scale(1.1,1.1) translate(-50%,-50%);
	-ms-transform: scale(1.1,1.1) translate(-50%,-50%);
	-o-transform: scale(1.1,1.1) translate(-50%,-50%);
	transform: scale(1.1,1.1) translate(-50%,-50%);
}
.servicio__detalle:hover .servicio--is-img{
	-webkit-transform: scale(1.1,1.1) rotate(7deg);
	-ms-transform: scale(1.1,1.1) rotate(7deg);
	-o-transform: scale(1.1,1.1) rotate(7deg);
	transform: scale(1.1,1.1) rotate(7deg);
}
.servicio__detalle{
	justify-content: center;
	flex-basis: 50%;
	min-height: 400px;
	padding: 10px;
}
.servicio__detalle--is-front{
	position: relative;
	height: 100%;
	width: 100%;
	overflow: hidden;
}
.servicio--is-bg{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 29, 64, 0.84);
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.servicio--is-img{
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-position: center center;
	background-size:cover;
	background-repeat: no-repeat;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.servicio__desc{
	position: absolute;
	top: 0;
	left: 0;
	height: calc(100% - 50px);
	width: calc(100% - 50px);
	border: 1px solid #fff;
	bottom: 0;
	right: 0;
	margin: auto;
}
.servicio--is-text{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: scale(1,1) translate(-50%,-50%);
	-ms-transform: scale(1,1) translate(-50%,-50%);
	-o-transform: scale(1,1) translate(-50%,-50%);
	transform: scale(1,1) translate(-50%,-50%);
	text-align: center;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.servicio--is-title{
	margin-bottom: 5px;
}
.servicio--is-subtitle{
	position: relative;
	padding-top: 15px;	
}
.servicio--is-subtitle:before{
	content: url(../images/general/flecha-blanca.svg);
	display: inline-block;
	position: absolute;
	bottom: -55px;
	width: 45px;
	transform: rotate(90deg) translateY(-50%);
	right: 50%;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.servicio--is-subtitle:after{
	content:'';
	border-top: 1px solid #c5c5c5;
    border-bottom: 1px solid #c5c5c5;
    width: 110%;
    height: 7px;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.servicio--is-subtitle p{
	font: 18px 'lato-light';
	font: 1.8rem 'lato-light';
	color: #fff;
}

/*Testimonio*/
.datos--is-foto{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-size: contain;
	border: 2px solid #fff;
}
.testimonios{
	width: 100%;
	margin:0 auto;
	position: relative;
}
.testimonio__detalle{
	background-color: #ccd5df;
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	position: relative;
	margin-top: 20px;
	margin-bottom: 70PX;
}
.testimonio__detalle p{
	font: 22px 'lato-regular';
	font: 2.2rem 'lato-regular';
	color: #12253c;
}
.testimonio__detalle p:after{
	content: '"'
}
.testimonio__detalle p:before{
	content: '"'
}
.testimonio__caja{
	border: 10px solid #ccd5df;
	box-shadow: inset 0 1px 0 #b5b5b5, inset 1px 0px 0 #b5b5b5,  inset 0px -1px 0 #b5b5b5,  inset -1px 0px 0 #b5b5b5;
	padding: 41px;
	display: flex;
	justify-content: center;
	min-height: 150px;
}

.testimonio__autor{
	position: absolute;
	bottom: -57px;
	left: 50%;
	background-color: #e1e6ec;
	box-shadow: 2px 2px 6px #f1f1f1;
	padding: 14px 20px;
	transform: translateX(-50%);
}
.autor__datos{
	display: flex;
	align-items: center;
	justify-content: center;
}
.datos--is-info{
	margin-left: 10px;
}
.datos--is-info p:first-child{
	font: 18px 'lato-bold';
	font: 1.8rem 'lato-bold';
	border-bottom: 1px solid #ccd5df;
	padding-bottom: 5px;
}
.datos--is-info p:last-child{
	font: 16px 'lato-light';
	font: 1.6rem 'lato-light';
	padding-top: 5px;
}


/*Box*/

.box__mini__content{
	width: 100%;
	height: 100%;
}
.box__mini{
	width: 40px;
	height: 40px;
	border: 1px solid #b5b5b5;
	position: absolute;
}
.box__mini--is-top-rigth{
	top: -12px;
	right: -12px;
}
.box__mini--is-top-left{
	top: -12px;
	left: -12px;
}
.box__mini--is-bottom-rigth{
	bottom: -12px;
	right: -12px;
}
.box__mini--is-bottom-left{
	bottom: -12px;
	left: -12px;
}


.contacto__footer{
	width:100%;
	position: relative;
}
.bg__contacto{

}


/*Articulos*/
.articulos__content {
	margin: 20px 0;
}
.articulo__foto{
	height: 250px;
	background-size: cover;
	background-position: center center;
}
.artitulo__text h3{
	font: 23px 'lato-bold' !important;
    font: 2.3rem 'lato-bold' !important;
	color: #fff !important
}

.artitulo__text a,
.artitulo__text p{
	color: #ccd5df !important;
	font: 14px 'lato-light';
	font: 1.4rem 'lato-light';
	padding: 6px 0;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	display: inline-block;
}
.artitulo__text{
	padding: 20px;
	background-color: #12253c;
	padding-bottom: 12px !important;
}
.articulo__tags{
	border-top: 1px solid #ccd5df;
	border-bottom: 1px solid #ccd5df;
	padding: 10px 0;
	margin: 10px auto;
}
.articulo__tags a:before{
	content: url('../images/general/cat.svg');
	position: absolute;
	left: 0;
	top: 6px;
	width: 18px;
}
.articulo__tags a{
	position: relative;
	padding-left: 25px;
	margin-right: 20px;
	font:13px 'lato-lightitalic';
	font:1.3rem 'lato-lightitalic';
}
.articulo--is-view:hover{
	color: #fff !important;
    transform: scale(1.1,1.1);
}
.articulo--is-view {
	font:17px 'lato-mediumitalic' !important;
	font:1.7rem 'lato-mediumitalic' !important;
}

.articulos__pagination .pag--is-current{
	color: #12253c;
	border-bottom: 1px solid #12253c;
}
.articulos__pagination span{
	letter-spacing: 3px;
	padding: 0 5px;
}
.articulos__pagination .pag--is-prev:hover{
	-webkit-transform: rotate(-180deg) scale(1.1,1.1);
	-ms-transform: rotate(-180deg) scale(1.1,1.1);
	-o-transform: rotate(-180deg) scale(1.1,1.1);
	transform: rotate(-180deg) scale(1.1,1.1);
}
.articulos__pagination .pag--is-next:hover{
	-webkit-transform: rotate(0deg) scale(1.1,1.1);
	-ms-transform: rotate(0deg) scale(1.1,1.1);
	-o-transform: rotate(0deg) scale(1.1,1.1);
	transform: rotate(0deg) scale(1.1,1.1);
}
.articulos__pagination .pag--is-next{
	margin-left: 5px;
	-webkit-transform: rotate(0deg) scale(1,1);
	-ms-transform: rotate(0deg) scale(1,1);
	-o-transform: rotate(0deg) scale(1,1);
	transform: rotate(0deg) scale(1,1);
}
.articulos__pagination .pag--is-prev{
	margin-right: 5px;
	-webkit-transform: rotate(-180deg) scale(1,1);
	-ms-transform: rotate(-180deg) scale(1,1);
	-o-transform: rotate(-180deg) scale(1,1);
	transform: rotate(-180deg) scale(1,1);
}
.articulos__pagination .pag--is-prev,
.articulos__pagination .pag--is-next{
	background-image: url('../images/general/flecha-azul.svg');
	width: 20px;
	height: 20px;
	-webkit-background-size: contain;
	background-size: contain;
	background-repeat: no-repeat;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.articulos__pagination a{
	display: inline-block;
	font:24px 'lato-bold';
	font:2.4rem 'lato-bold';
	color: #b5b5b5;
	padding: 5px;
}
.articulos__pagination{
	width: 100%;
	text-align: center;
}

/*Sitemap*/
.social--is-gplus{
	width: 46px !important;
}
.social__link:hover{
	-webkit-transform: scale(1.1,1.1);
	-ms-transform: scale(1.1,1.1);
	-o-transform: scale(1.1,1.1);
	transform: scale(1.1,1.1);
}
.social__link{
	display: inline-block;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.social__is--ico{
	width: 37px;
	margin: 0 10px;
}
.social{
	margin-top: 20px !important;
	margin-bottom: 0px !important;
}
.social,
.sitemap{
	display: flex;
	align-items: center;
	justify-content: center;	
	padding: 10px;
}

.sitemap__links,
.social__icons{
	display: flex;
	justify-content: center;
	align-items: normal;
}
.sitemap__links li:last-child a:after{
	display: none;
}
.sitemap__border{
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	background-color: #f1f1f1;
}
.sitemap__links a:after{
	content: '/';
	position:absolute;
	top: 11px;
	right: -2px;
	color: #b5b5b5;
	font-family: 'lato-bold'
}
.sitemap__links a:hover{
	font-weight: bold;
}
.sitemap__links a {
	position: relative;
	padding: 10px 20px;
	display: block;
	font:16px 'lato-mediumitalic';
	font:1.6rem 'lato-mediumitalic';
	color: #12253c;
	-webkit-transition: all .4s ease-in-out;
	-o-transition: all .4s ease-in-out;
	transition: all .4s ease-in-out;
}

/*
 * Buttons
 */

.btn--is-articulo{
	position: relative;
	font:20px 'lato-light';
	font:2rem 'lato-light';
}

/*Elements*/
.tag__white:after{
	content: url('../images/general/flecha-blanca.svg');
	width: 30px;
	position: absolute;
	right: -34px;
	top: 4px;
}
.tag__blue,
.tag__white{
	position: relative;
}
.tag__blue:after{
	content: url('../images/general/flecha-azul.svg');
	width:12px;
	position: absolute;
	left: -17px;
	top: 1px;
}

/*Buttons Slider*/
.testimonio__nav{
	/* margin-top: 10px !important; */
}
.testimonio__nav,
.articulos__nav{
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}
.slider__arrow--is-prev:hover{
	-webkit-transform: rotate(-180deg) scale(1.1,1.1);
	-ms-transform: rotate(-180deg) scale(1.1,1.1);
	-o-transform: rotate(-180deg) scale(1.1,1.1);
	transform: rotate(-180deg) scale(1.1,1.1);
}
.slider__arrow--is-prev{
	background: url('../images/general/flecha-azul.svg');
	-webkit-transform: rotate(-180deg);
	-ms-transform: rotate(-180deg);
	-o-transform: rotate(-180deg);
	transform: rotate(-180deg);
    background-position: center right;
}
.slider__arrow--is-next:hover{
	-webkit-transform: scale(1.1,1.1);
	-ms-transform: scale(1.1,1.1);
	-o-transform: scale(1.1,1.1);
	transform: scale(1.1,1.1);
}
.slider__arrow--is-next{
	background-image: url('../images/general/flecha-azul.svg');
	/* margin-left: 15px; */
	background-position: center right;
}
.slider__arrow{
	width: 60px;
	height: 40px;
	background-repeat: no-repeat;
	background-size: contain;
	-webkit-transition: all .3s ease-in-out;
	-o-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}


.menu--is-burger{
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
    left: inherit;
    width: 60px;
    height: 60px;
    vertical-align: middle;
    z-index: 20;
}
html.open .b-menu .b-bun{
    background-color: #ffffff;
}
html.open .b-menu{
    background: transparent;
    border-color: #ffffff;
}
html.open .b-menu:hover{
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.b-menu {
    border: white solid 2px;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    height: 50px;
    padding-left: 11px;
    padding-top: 13px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 50px;
    z-index: 2;
    position: relative;
    top: 5px;
    left: 5px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.b-bun {
    background: #fff;
    position: relative;
}

.b-bun--top {
    height: 2px;
    top: 0;
    width: 25px;
}

.b-bun--mid {
    height: 2px;
    top: 8px;
    width: 25px;
}

.b-bun--bottom {
    height: 2px;
    top: 16px;
    width: 25px;
}
html.open  .b-main {
    border: #fff solid 2px;
}

html.open  .b-bun--top {
    background: #ffffff;
    top: 9px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

html.open  .b-bun--mid {
    opacity: 0;
}

html.open  .b-bun--bottom {
    background: #ffa549;
    top: 5px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

html.open  .b-brand {
    color: #525252;
}
html.open {
    overflow: hidden;
}
html.open #main__container{
    transform: scale(0.8);
    filter:blur(3px);
}
html.open .menu__responsive__content{
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0%) scale(1);
    transform: translateY(0%) scale(1);
    -webkit-transition: -webkit-transform 0.4s;
    transition: transform 0.4s;
}
.menu__responsive__content{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(18, 37, 60, 0.97);
    z-index: 9;
    -webkit-transform: translateY(60%) scale(0);
    transform: translateY(60%) scale(0);
    -webkit-transition: -webkit-transform 0.4s, visibility 0s 0.4s;
    transition: transform 0.4s, visibility 0s 0.4s;
}
.menu__opciones--is-nav1{
    position: relative;
    top: 50%;
    text-align: center;
    height: calc(100vh);
    font-size: 54px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-perspective: 1200px;
    perspective: 1200px;
}

.menu__opciones--is-a:hover {
    color: #fff;
}
.menu__opciones--is-a:hover::before {
    height: 5px;
    opacity: 1;
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    transform: translateY(5px);
}
.menu__opciones--is-a:before{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 1px;
    background: #b6c7da;
    content: '';
    opacity: 0;
    -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
    -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
    transition: height 0.3s, opacity 0.3s, transform 0.3s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    transform: translateY(-10px);
}
.menu__opciones--is-a.disabled{
    color: #ddd
}
.menu__opciones--is-a{
    position: relative;
    display: inline-block;
    color: #b6c7da;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
    font-size: 30px;
    font-size: 3rem;
    outline: none;
    text-decoration: none;
}
.menu__opciones--is-li{
    text-align: center;
    display: block;
    height: calc(100vh/ 10);
    min-height: 54px;
}
.open .menu__opciones--is-ul{
    opacity: 1;
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.menu__opciones--is-ul{
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: inline-block;
    height: 100%;
    position: relative;
    opacity: 0.4;
    -webkit-transform: translateY(35%);
    transform: translateY(35%);
    -webkit-transition: -webkit-transform 1s ease .1s, opacity 1s ease .1s;
    transition: transform 1s ease .1s, opacity 1s ease .1s;
}

/*Página de Servicios*/
.pagina__servicios
.servicio--is-detalle{
	padding: 50px 40px;
}
.pagina__servicios p{
	font: 18px 'lato-regular';
	font: 1.8rem 'lato-regular';
}


/*Página NOsotros*/
.pagina__nosotros .banner--is-main{
	height: calc(100vh/3)
}
.profesional__lista{
	max-width: 1200px;
	padding: 0;
	margin: 0 auto;
	margin-top: 50px;
	list-style: none;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-wrap: wrap;
}
.profesional:nth-child(3n){
	margin-right: 0;
}
.profesional{
	width: 31%;
	margin-bottom: 2%;
	margin-right: 2%;
	text-align: center;
	box-shadow: 0 2px 3px #e6e6e6, 2px 0px 3px #e6e6e6, 
				0 -2px 3px #e6e6e6, -2px 0 3px #e6e6e6;
}
.profesional__info p:first-child{
	font: 20px 'lato-bold';
	font: 2.0rem 'lato-bold';
	padding-bottom: 5px;
	border-bottom: 1px solid #b5b5b5;
	display: inline-block;
	margin: 0 auto;
	text-align: center;
}
.profesional__info p:last-child{
	font: 18px 'lato-regular';
	font: 1.8rem 'lato-regular';
	padding-top: 5px;
}
.profesional__info{
	background: #12253c;
	padding: 40px
}
.profesional img{
	width: 100%;
	max-width: 200px;
	margin: 0 auto;
}
.profesional__perfil{
	padding: 20px;
}

/*Contacto*/
.form__content{
	position: relative;
	padding: 40px;
    border: 1px solid #808386;
    width: 100%;
	max-width: 1000px;
	margin: 0 auto;
}
.form__contacto{
	display: flex;
   	flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.col--is-100{
	width: 100%
}
.col--is-50{
	width: 48%;
	margin-right: 4%;
}
.col--is-50:nth-child(2n){
	margin-right: 0;
}
.element__group{
	position: relative;
}
.element__group em:after{
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: -5px;
    left: 0px;
    border-left: 12px solid #F20347;
    border-top: 5px solid transparent; 
}

.element__group em{
    z-index: 2;
    font-style: italic;
    font-size: 12px;
    padding: 1px 5px;
    position: absolute;
    bottom: -15px;
    left: 13px;
    background-color: #F20347;
    color: #FFF;
    -webkit-border-radius: 4px;
	border-radius: 4px;
	border-top-left-radius: 0px !important
}
.element__input--is-two{
	background-color: #fff !important;
}
.element__input{
	border:0;
	background: #f6f7f8;
    border-bottom: 3px solid #ccd5df;
    width: 100%;
    padding: 10px 20px;
    color: #12253c;
    font: 14px "lato-regular";
    font: 1.4rem "lato-regular";
}
.element__textarea{
	border:0;
	background: #f6f7f8;
    border-bottom: 3px solid #ccd5df;
    width: 100%;
    padding: 20px;
    height: 200px;
    color: #12253c;
    font: 14px "lato-regular";
    font: 1.4rem "lato-regular";
    resize: none;
}


/*Blog*/
.blog__title{
	background: #fff;
    padding: 20px 0 0px 0;
}
.pagina__blog:not(.blog__detalle) .blog__articulos{
	padding: 10px 40px !important
}
.blog__main{
	display: flex;
	flex-wrap: wrap;
	margin-bottom: 20px;
}
.blog__buscador{	
	width: 25%;
	background-color: #fff;
	border-left: 1px solid #989998;
	background-color: #f6f7f8;
}
.pagina__blog .blog__articulos{
	width: 75%;
}

.articulos__detalle{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.pagina__blog .articulo:nth-child(2n){
	margin-left: 4%
}
.pagina__blog .articulo{
	width: 48%;
	margin-bottom: 4%
}
.box__buscador{
	padding: 15px;
}
.blog__categorias a,
.blog__categorias li{
	width: 100%;
	position: relative;
}
.blog__categorias a:hover{
	text-decoration: underline;
}
.blog__categorias a{
	display: block;
	padding: 4px 0;
	font: 14px 'lato-regular';
	font: 1.4rem 'lato-regular';
	color: #12253c;
	padding-left: 25px
}
.blog__categorias{
	width: 100%;
	padding: 15px 0;
	border-top: 1px solid #989998;
	padding-bottom: 0px !important
}
.blog__categorias li:after{
	content: url('../images/general/cat-filtro.svg');
	position: absolute;
	left: 0;
	top: 6px;
	width: 18px;
}
.blog__buscador strong{
	font: 16px 'lato-bold';
	font: 1.6rem 'lato-bold';
	display: block;
	padding-bottom: 10px;
	color: #12253c;
}

/*Página de Servicios*/
.pagina__servicios
.servicio--is-detalle{
	padding: 50px 40px;
}
.blog__detalle p,
.pagina__servicios p{
	font: 18px 'lato-regular';
	font: 1.8rem 'lato-regular';
}

#gm--message img{width: 200px;}
#gm--message{
	position: relative;	
}
.gm--capa:hover{opacity: 1;}
.gm--capa i{
	color: white;
	font-size: 50px;
}
.gm--capa span{
	position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
       -moz-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
         -o-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}
.gm--capa{
	opacity: 0;
	position: absolute;
	top: 0;
	left:0;
	width: 100%;
	height: 100%;
	background-color: rgba(95, 201, 215, 0.58)
}
.mapa{
	padding: 60px;
}
.mapa__content{
	width: 100%;
	display: flex;
}
.mapa__info{
	width: 20%;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	background-color: #12253c;
}
.mapa__render{
	width: 80%;
	background-color: #12253c;
}
.info__content:last-child{
	border-bottom: none;
}
.info__content{
	width: 100%;
	height: calc(100%/3);
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid #b5b5b5;
}
.info__content--is-details{
	text-align: center;
}
.info__content--is-details li{
	color: #fff;
	font: 16px 'lato-light';
	font: 1.6rem 'lato-light';
}
.info__content--is-details strong{
	color: #fff;
	font: 18px 'lato-bold';
	font: 1.8rem 'lato-bold';
}

.ico--is-phone:after{
	position: absolute;
	left: -25px;
	top: 3px;
	content: url(../images/general/telefono.svg);
	width: 20px;
	height: 20px;
}
.ico--is-email:after{
	position: absolute;
	left: -25px;
	top: 3px;
	content: url(../images/general/email.svg);
	width: 20px;
	height: 20px;
}
.ico--is-place:after{
	position: absolute;
	left: -25px;
	top: 3px;
	content: url(../images/general/place.svg);
	width: 20px;
	height: 20px;
}
.ico--is-phone,
.ico--is-email,
.ico--is-place{
	position: relative;
}

/* =============
   Form Validations
============= */
.success em{display: none !important;}
.error em{display: inline-block !important;}

@media only screen and (max-width: 1600px) {
	html {    
    	font-size: 60%;
	}
	.square__titulos--content{
		padding: 30px 60px;
	}
}
@media only screen and (max-width: 1000px) {
	html {    
    	font-size: 55%;
	}
 	.square__titulos{
 		max-width: 80%
 	}
 	.square__titulos--content{
 		padding: 40px;
 	}
 	.blog__articulos, .testimonios, .asesorias{
 		padding: 40px 20px
 	} 	
} 
@media only screen and (max-height: 800px) {
	.pagina__nosotros .banner--is-main{
		height: calc(100vh/2)
	}
}
@media only screen and (max-width: 800px) {	
	html {    
    	font-size: 50%;
	}
	.beneficio__detalle {
		display: block;
	}
	.beneficio__img{
		margin: 0 auto 20px auto;
	}
	.beneficio__desc {
		width: 100%;
		margin:0;
	}
	.servicio__detalle {
		flex-basis: 100%;
		padding: 0;
		margin-bottom: 10px;
	}	
	.servicios,
	.blog__articulos,
	.testimonios,
	.asesorias{
 		padding: 40px 10px
 	}
 	.logo--is-link:after,
 	.menu__content,
 	.box__mini {display: none;}
 	.menu--is-burger{
		display: inline-block !important;
	}
	.logo__content{
		margin-right: auto;
	}
	.pagina__blog .articulo:nth-child(2n) {
	    margin-left: 0% !important;
	}
	.pagina__blog .articulo {
	    width: 100% !important;	    
	}
}
@media only screen and (max-width: 600px) {
	html {    
    	font-size: 45%;
	}
 	.square__titulos{
 		max-width: 90%
 	}
 	.square__titulos--content{
 		padding: 20px;
 	}
 	.beneficio__detalle {
		width: 100%;
	}
	.beneficios__content .beneficio__detalle:nth-child(1){
		border-right: none;
		padding: 20px;
	}
	.beneficios__content .beneficio__detalle:nth-child(2){
		padding-left: 0;
		padding: 20px;
	}
	.beneficios__content .beneficio__detalle:nth-child(3) {
		border-right: none;
		border-bottom: 1px solid #b5b5b5;
		padding: 20px;
	}
	.beneficios__content .beneficio__detalle:nth-child(4) {
		padding: 20px;
	}
	.tag__white:after{
		width: 22px;
	}
	.sitemap__search{
		margin-top: 10px;
		margin-bottom: 20px;
		display: inline-block;
	}
	.sitemap{
		padding: 0
	}
	.sitemap,
	.sitemap__links{
		display: block;
		text-align: center;	
	}
	.sitemap__links a:after{
		display: none;
	}
	.sitemap__links a{
		border-top: 1px solid #e4e4e4;
		border-bottom: 1px solid #fff;
		padding: 15px 10px
	}
	.sitemap__links li:first-child a{
		border-top: none;
	}
	.sitemap__links li:last-child a{
		border-bottom: none;
	}
	.blog__main{
		display: block !important;
		flex-wrap: inherit !important;
	}
	.pagina__blog .blog__articulos{
		width: 100% !important;
		margin-bottom: 20px !important;
	}
	.blog__buscador{
		width: 100% !important;
		padding-left: 0 !important
	}
} 
@media only screen and (max-width: 400px) {
	html {    
    	font-size: 40%;
	}
}

