/*
 * Fuentes
 * @author mfyance
 */


@font-face {
    font-family: 'lato-regular';
    src: url('../fonts/lato/regular/lato-regular-webfont.eot');
    src: 
         url('../fonts/lato/regular/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/regular/lato-regular-webfont.woff') format('woff'),
         url('../fonts/lato/regular/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/lato/regular/lato-regular-webfont.ttf') format('truetype'),
         url('../fonts/lato/regular/lato-regular-webfont.svg#open-sans') format('svg');
}
@font-face {
    font-family: 'lato-bold';
    src: url('../fonts/lato/bold/lato-bold-webfont.eot');
    src: 
         url('../fonts/lato/bold/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/bold/lato-bold-webfont.woff') format('woff'),
         url('../fonts/lato/bold/lato-bold-webfont.woff2') format('woff2'),
         url('../fonts/lato/bold/lato-bold-webfont.ttf') format('truetype'),
         url('../fonts/lato/bold/lato-bold-webfont.svg#open-sans') format('svg');
}
@font-face {
    font-family: 'lato-heavy';
    src: url('../fonts/lato/heavy/lato-heavy-webfont.eot');
    src: 
         url('../fonts/lato/heavy/lato-heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/heavy/lato-heavy-webfont.woff') format('woff'),
         url('../fonts/lato/heavy/lato-heavy-webfont.woff2') format('woff2'),
         url('../fonts/lato/heavy/lato-heavy-webfont.ttf') format('truetype'),
         url('../fonts/lato/heavy/lato-heavy-webfont.svg#open-sans') format('svg');
}

@font-face {
    font-family: 'lato-heavyitalic';
    src: url('../fonts/lato/heavyitalic/lato-heavyitalic-webfont.eot');
    src: 
         url('../fonts/lato/heavyitalic/lato-heavyitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/heavyitalic/lato-heavyitalic-webfont.woff') format('woff'),
         url('../fonts/lato/heavyitalic/lato-heavyitalic-webfont.woff2') format('woff2'),
         url('../fonts/lato/heavyitalic/lato-heavyitalic-webfont.ttf') format('truetype'),
         url('../fonts/lato/heavyitalic/lato-heavyitalic-webfont.svg#open-sans') format('svg');
}

@font-face {
    font-family: 'lato-light';
    src: url('../fonts/lato/light/lato-light-webfont.eot');
    src: 
         url('../fonts/lato/light/lato-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/light/lato-light-webfont.woff') format('woff'),
         url('../fonts/lato/light/lato-light-webfont.woff2') format('woff2'),
         url('../fonts/lato/light/lato-light-webfont.ttf') format('truetype'),
         url('../fonts/lato/light/lato-light-webfont.svg#open-sans') format('svg');
}

@font-face {
    font-family: 'lato-lightitalic';
    src: url('../fonts/lato/lightitalic/lato-lightitalic-webfont.eot');
    src: 
         url('../fonts/lato/lightitalic/lato-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/lightitalic/lato-lightitalic-webfont.woff') format('woff'),
         url('../fonts/lato/lightitalic/lato-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/lato/lightitalic/lato-lightitalic-webfont.ttf') format('truetype'),
         url('../fonts/lato/lightitalic/lato-lightitalic-webfont.svg#open-sans') format('svg');
}

@font-face {
    font-family: 'lato-mediumitalic';
    src: url('../fonts/lato/mediumitalic/lato-mediumitalic-webfont.eot');
    src: 
         url('../fonts/lato/mediumitalic/lato-mediumitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato/mediumitalic/lato-mediumitalic-webfont.woff') format('woff'),
         url('../fonts/lato/mediumitalic/lato-mediumitalic-webfont.woff2') format('woff2'),
         url('../fonts/lato/mediumitalic/lato-mediumitalic-webfont.ttf') format('truetype'),
         url('../fonts/lato/mediumitalic/lato-mediumitalic-webfont.svg#open-sans') format('svg');
}

/*
 * Material Icons
 */
@font-face {
    font-family: 'Material Icons';
    src: url(../fonts/material/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: 
        url(../fonts/material/MaterialIcons-Regular.woff2) format('woff2'),
        url(../fonts/material/MaterialIcons-Regular.woff) format('woff'),
        url(../fonts/material/MaterialIcons-Regular.ttf) format('truetype'),
        url(../fonts/material/MaterialIcons-Regular.svg) format('svg');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
    /* Support for IE. */
    font-feature-settings: 'liga';
}