/*
 * Helpers
 * @author mfyance
 */

/* =============
   Cleaner
============= */
.cleaner {
  box-sizing: border-box;
  *zoom: 1;
}
.cleaner:after {
  clear: both;
}
.cleaner:before,
.cleaner:after {
  display: table;
  line-height: 0;
  content: "";
}

/* =============
   Flexbox
============= */
.flex--100{
    width: 100%;
    display: flex;
}
.flex--50{
    flex: 0 0 50%;
}

/* =============
   Abbs
============= */
.d-i--b,
.d--ib{display: inline-block;}
.f--r{float: right;}
.v-a--m{vertical-align: middle;}
.p-0 {
    padding: 0!important
}
.p-l--10 {
    padding-left: 10px !important
}
.p-t--16{
    padding-top: 16px;
}
.p-l--20 {
    padding-left: 20px !important
}
.p-20 {
    padding: 20px !important
}
.p-30 {
    padding: 30px!important
}
.p-l-0 {
    padding-left: 0!important
}
.p-r-0 {
    padding-right: 0!important
}
.p-t-0 {
    padding-top: 0!important
}
.p-b-0 {
    padding-bottom: 0!important
}
.p-t-10 {
    padding-top: 10px!important
}
.p-b-10 {
    padding-bottom: 10px!important
}

.m-0 {
    margin: 0!important
}
.m-r-5 {
    margin-right: 5px!important
}
.m-r-10 {
    margin-right: 10px!important
}
.m-r-15 {
    margin-right: 15px!important
}
.m-l-5 {
    margin-left: 5px!important
}
.m-l-10 {
    margin-left: 10px!important
}
.m-l-15 {
    margin-left: 15px!important
}
.m-t-5 {
    margin-top: 5px!important
}
.m-t-0 {
    margin-top: 0!important
}
.m-t-8 {
    margin-top: 8px!important
}
.m-t-10 {
    margin-top: 10px!important
}
.m-t-15 {
    margin-top: 15px!important
}
.m-t-20 {
    margin-top: 20px!important
}
.m-t-30 {
    margin-top: 30px!important
}
.m-t-40 {
    margin-top: 40px!important
}
.m-t-50 {
    margin-top: 50px!important
}
.m-b-0 {
    margin-bottom: 0!important
}
.m-b-5 {
    margin-bottom: 5px!important
}
.m-b-10 {
    margin-bottom: 10px!important
}
.m-b-15 {
    margin-bottom: 15px!important
}
.m-b-20 {
    margin-bottom: 20px!important
}
.m-b-25 {
    margin-bottom: 25px!important
}
.m-b-30 {
    margin-bottom: 30px!important
}
.m-b-40 {
    margin-bottom: 40px!important
}
.m-b-60 {
    margin-bottom: 60px!important
}

.center-page {
    float: none!important;
    margin: 0 auto!important
}
.f-s-13 {
    font-size: 13px!important
}

.b-0 {
    border: none!important
}
.bx-shadow {
    -moz-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    -webkit-box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1);
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .1)
}
.bx-shadow-none {
    box-shadow: none!important
}
.bg-transparent {
    background-color: transparent!important
}
.font-600,
b,
strong {
    font-weight: 600
}
.p--r,
.p-r{position: relative;}

.t-a-r{
    text-align: right;
}
.tac,
.t-a-c{
    text-align: center !important;
}
.h-100p{
    height: 100%
}
.w--100,
.w-100p{
    width:100%;
}
.z-i-0{
    z-index: 0
}
.z-i-1{
    z-index: 1
}
.z-i-2{
    z-index: 2
}
.z-i-3{
    z-index: 3
}
.is-transition{
    -webkit-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.overflow--v{
    overflow: visible !important
}
.full{
    width: 100%
}