﻿.tippy-tooltip{
	background-color: #f7f7f7 !important;
	color: #525252 !important
}
.tippy-popper[x-placement^=bottom] [x-arrow]{
	border-bottom: 7px solid #f7f7f7 !important;
}
.tippy-popper[x-placement^=top] [x-arrow]{
	border-top: 7px solid #f7f7f7 !important;
}